<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- schnucks-atg-sa-f87620578592.json / Schnucks_ATG_TLOG credentials -->
		<!-- THIS IS JUST A COPY OF THE CREDENTIALS. THE ACTUAL CREDENTIALS ARE PULLED DIRECTLY FROM schnucks-atg-sa-f87620578592.json -->
		<add key="type" value="service_account" />
		<add key="project_id" value="datalake-prod" />
		<add key="private_key_id" value="privatekey12345" />
		<add key="private_key" value="-----BEGIN PRIVATE KEY----------END PRIVATE KEY-----\n" />
		<add key="client_email" value="test@serviceaccount.com" />
		<add key="client_id" value="123456789" />
		<add key="auth_uri" value="https://accounts.google.com" />
		<add key="token_uri" value="https://googleapis.com" />
		<add key="auth_provider_x509_cert_url" value="https://www.googleapis.com" />
		<add key="client_x509_cert_url" value="https://www.googleapis.com" />
		<add key="universe_domain" value="googleapis.com" />

		<!-- Date offsets (in days) for requests that use a date range. These must be negative. They are defaulted to -30/-1 if not set. -->
		<!-- DatedDataCollections -->
		<add key="DatedDataCollectionsStartDateOffset" value="-30" />	<!-- If set to null, program will default to -30 -->
		<add key="DatedDataCollectionsEndDateOffset" value="-1" />	<!-- If set to null, program will default to -1 -->
		<!-- Force override dates to retrieve the same dates instead of an offset -->
		<add key="DatedDataCollectionsStartDateOverride" value="2024-01-01" />	<!-- YYYY-MM-DD No default value if null -->
		<add key="DatedDataCollectionsEndDateOverride" value="2024-01-31" />	<!-- YYYY-MM-DD No default value if null -->

		<!-- All possible tables that data can be collected -->
		<!-- Tables with dated columns.  -->
		<add key="ITEM.TRANSACTION_HEADER_FACT" value="PARK" />
		<add key="ITEM.TRANSACTION_DETAIL_FACT" value="PARK" />
		<add key="ITEM.TENDER_FACT" value="PARK" />
		<add key="ITEM.PRODUCT" value="PRODUCT_CREATE_DATE" />
		<add key="ITEM.PRODUCT_REMOVED" value="PARK" />
		<add key="IMP.WAVE_REPORT_HEADER" value="INVOICE_DATE" />
		<add key="IMP.WAVE_REPORT_DETAIL" value="INVOICE_DATE" />
		<add key="PI.PI_ACTIVITY_DAILY" value="ACTIVITY_DATE" />
		<!-- Tables with no dated columns. When value is set to false, all data will be extracted from the table -->
		<add key="ITEM.TRANSACTION_LINE_TYPE" value="*" />
		<add key="ITEM.TENDER_TYPE" value="*" />
		<add key="ITEM.PRODUCT_REMOVED_REASONS" value="*" />
		<add key="IMPROD.UPC_ID_VENDOR_GUARANTEE" value="*" />
		<add key="PI.PI_ACTIVITY_TYPES" value="*" />

		<!-- Other settings -->
		<add key="TestFileSavePath" value="C:\BigQueryTestFiles" />
		<add key="FinalFilePath" value="C:\BigQueryFinalFiles" />
		<add key="FailureMessageToEmail" value="test@gmail.com" />

		<!-- Transaction record entry values -->
		<add key="ClientName" value="Company" />
		<add key="DefaultDosFileName" value="APICall" />

		<!-- Events -->
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.net>
		<mailSettings>
			<smtp from="test@gmail.com">
				<network host="smtp.office365.com" port="587" userName="test@gmail.com" password="password" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
