<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd ./NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Debug"
      internalLogFile="c:\temp\nlog-internal.log">

	<!-- Targets handled asynchronously -->
	<targets async="true">
		<!-- File Logger -->
		<target name="f" xsi:type="File"
				fileName="./logs/BigQuery_today.xml"
				layout="${log4jxmlevent:includeSourceInfo=true:includeAllProperties=true:includeCallSite=true}"
				keepFileOpen="true"
				archiveEvery="Day"
				archiveFileName="./logs/archive/BigQuery_{#}.xml"
				archiveNumbering="Date"
				maxArchiveFiles="180" />
	</targets>

	<rules>
		<!-- Logging rule to write all logs with level Info and above -->
		<logger name="*" minlevel="Info" writeTo="f" />
	</rules>
</nlog>
